# Auto-detect text files and perform LF normalization
*  text=auto

# Ensure consistent encoding for text files
*.php      text
*.css      text
*.js       text
*.txt      text
*.md       text
*.xml      text
*.json     text
*.bat      text
*.sql      text
*.yml      text

# Ensure binary files are not modified
*.png      binary
*.jpg      binary
*.gif      binary
*.ttf      binary
*.phar     binary
*.pem      binary

# Do not include development and configuration files in the export
/.github   export-ignore
/tests     export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/repositories.json export-ignore
/.sami     export-ignore
*.bc.php   export-ignore
*.cache.php export-ignore
*.log.php  export-ignore
*.session.php export-ignore
/.php_cs   export-ignore
*.phar     export-ignore
*.pem      export-ignore
