# Framework
key.php
/storage/cache
/storage/console
/storage/database
/storage/logs
/storage/sessions
/storage/views
/storage/*.pem


# Phpstorm
.idea
*.iml

# Netbeans
nbproject

# Zend studio eclipse
.buildpath
.project
.settings

# Sublime text
*.sublime-project
*.sublime-workspace
/.phpintel

# Vscode
.vscode

# Cache thumbnail windows
Thumbs.db

# Composer
composer.phar
composer.lock
/vendor

# Mac
.DS_Store

# Phpunit
phpunit.phar
phpunit.xml
.phpunit.result.cache

# Nodejs
/node_modules
npm-debug.log
yarn-error.log
.env.backup
.env

# Others
*.phar
